.gradle
/local.properties
.DS_Store
/build
/target
.idea
*.iml
.project
.classpath
bin/
target/
classes/
lib/
.settings/
.project/
.classpath/
.svn/
*.log
logs/
out/
*.iws
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.MF
.mymetadata
.myeclipse/
